<html>

<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>高科大第一校區 女生宿舍</title>

    <!-- icon python flask -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/core-img/favicon.ico') }}">
    <!-- css python flask -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.css')}}">
    <!-- js python flask -->
    <script type="text/javascript" src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- font python flask -->
    <link rel="stylesheet" href="{{url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">

    .input{
    dlsplay:block;
    width:350px;
    height:40px;
    margin:10px auto;
    }
    .button{
    background: #2066C5;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    border-radius: 4px;
    }

</head>

<body>
<section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
        <div class="circle" style="--x:0"></div>
        <div class="circle" style="--x:1"></div>
        <div class="circle" style="--x:2"></div>
        <div class="circle" style="--x:3"></div>
        <div class="circle" style="--x:4"></div>
        <div class="demo form-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-4 col-md-12 col-sm-offset-3 col-sm-12">
                        <form class="form-horizontal" action="login" method="post">

                            {{form.hidden_tag()}}
                            {{form.name(size=16,id='name',class='input'}}
                            {%for e in form.name.errors%}
                            <span style="color:red">{{e}}</span>span>
                            {%endfor%}
                            {%for e in form.password.errors%}
                            <span style="color:red">{{e}}</span>span>
                            {%endfor%}
                            <input type="submit" value="登入" class="input button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>