{% extends "base.html" %}
{% block main %}
<div class="breadcumb-area bg-img" style="background-image: url({{ url_for('static', filename='images/bg-img/b1.jpg')}});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content text-center">
                    <h2>about us</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-8">
                <div class="single-blog-area clearfix mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <h4><a id="buildings"><a href="#" class="post-headline">大樓介紹</a></a></h4>
                        <p class="mb-3">
                            高雄科技大學的女宿總共有三棟，統稱為”樂群樓”，三棟分別以C棟、D棟跟E棟作為區分，寢室規格分為冷氣雅房和冷氣雅致套房，兩種規格均有寢室配備床組、書桌椅、內線分機電話、電扇、電腦網路插座、消防防煙面罩、鞋櫃與衣櫃，他們的區別在冷氣雅致套房多了全套衛浴設備及廁所有無障礙空間。</p>
                        <p class="mb-3">
                            每棟每層樓均有浴室，各樓層8間浴室，24小時供應熱水，浴室外均有洗衣區及晾衣區陽台，洗衣區除了提供洗手台讓住宿生手洗衣物，亦有洗衣機、脫水機及烘衣機，洗衣機及烘衣機使用一次10元，脫水機免費使用，設備皆有定期消毒，烘衣機僅偶數樓層有，洗衣機及脫水機每層樓皆有；飲水機也是每層樓均有並定期請廠商維護及消毒；每層樓均有冰箱，一整層樓共用，並於每周周掃時清潔整理。</p>
                        <p class="mb-3">
                            販賣機位於E棟1樓，24小時販賣飲料，女宿地下一樓設有學餐，也有販賣部，各種生活用品在販賣部都可以買到。位於女宿門口設有提款機，定時巡邏且設有監視器。冷氣加值機位於C棟一樓管理室前，最低額度為100，可依照個人需求加值額度。</p>
                        <p class="mb-3">女宿每棟樓均有電梯，並定期請廠商維護保養；K書中心位於E棟1樓，提供安靜且舒適的空間讓住宿生讀書。</p>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <img src="{{url_for('static', filename='images/dormitory-img/dormitory.gif')}}" alt="">
                    <!-- Catagory Title -->
                    <!-- <div class="catagory-title">
                        <a href="#">Lifestyle posts</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->

<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-8">
                <div class="single-blog-area clearfix mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <h4><a id="reading center"><a href="#" class="post-headline">K書中心</a></a></h4>
                        <p class="mb-3">K書中心位於E棟1樓，提供安靜且舒適的空間讓住宿生讀書。</p>
                        <p class="mb-3">樂群樓（40個座位），是24小時開放使用，為考量宿舍內部安全，非住宿生使用時間為8:00~23:00。</p>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <img src="{{url_for('static', filename='images/restaurant-img/restaurant.gif')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->

<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-8">
                <div class="single-blog-area clearfix mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <h4><a id=" lounge"><a href="#" class="post-headline">交誼廳</a></a></h4>
                        <p class="mb-3">位於E棟一樓及二樓皆設有交誼廳，而在C棟及D棟、E棟中間的交界處也設有一個交誼廳。</p>
                        <p class="mb-3">交誼廳可讓住宿生交流，不會吵到室友，在交誼廳可以討論功課等等，有助於朋友之間的交流，也能在此聯絡感情。</p>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <img src="{{url_for('static', filename='images/blog-img/1.jpg')}}" alt="">
                    <!-- Catagory Title -->
                    <div class="catagory-title">
                        <a href="#">Lifestyle posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->

<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-8">
                <div class="single-blog-area clearfix mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <h4><a id="sports"><a href="#" class="post-headline">運動場地</a></a></h4>
                        <p class="mb-3">
                            在女宿內部有桌球室、軟墊教室、撞球室及演講教室，均可借用；在女宿的管理室可以借安全帽、網球拍、羽球拍、桌椅等等設備，不用害怕打球的時候沒有球拍或是球可以使用。</p>
                        <p class="mb-3">另外在女宿外，也有籃球場、操場、網球場等等場地，可以在住宿期間好好的鍛鍊身體。</p>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <img src="{{url_for('static', filename='images/blog-img/1.jpg')}}" alt="">
                    <!-- Catagory Title -->
                    <div class="catagory-title">
                        <a href="#">Lifestyle posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->

<!-- ##### Cool Facts Area Start ##### -->
<div class="cool-facts-area section-padding-100-0 bg-img background-overlay"
     style="background-image: url({{ url_for('static', filename='images/bg-img/b4.jpg')}});">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single-blog-area blog-style-2 text-center mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4><a href="#" class="post-headline">Welcome to this Lifestyle blog</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis
                            aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu
                            libero consequat tempus. Quisque molestie convallis tempus. Ut semper purus metus, a euismod
                            sapien sodales ac. Duis viverra eleifend fermentum. Donec sagittis lacus sit amet augue
                            sodales, vel cursus enim tristique. Maecenas vitae massa ut est consectetur sagittis quis
                            vitae tortor. Sed et massa vel.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100">
                    <h2><span class="counter">25</span></h2>
                    <p>Awards won</p>
                </div>
            </div>
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100">
                    <h2><span class="counter">12</span>K</h2>
                    <p>FB Followers</p>
                </div>
            </div>
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100">
                    <h2><span class="counter">9</span></h2>
                    <p>Team members</p>
                </div>
            </div>
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100">
                    <h2><span class="counter">16</span></h2>
                    <p>Coffes/Day</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Cool Facts Area End ##### -->

<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Blog Area  -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area blog-style-2 mb-100">
                    <div class="single-blog-thumbnail">
                        <img src="{{url_for('static', filename='images/blog-img/4.jpg')}}" alt="">
                        <div class="post-date">
                            <a href="#">10 <span>march</span></a>
                        </div>
                    </div>
                    <!-- Blog Content -->
                    <div class="single-blog-content mt-50">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4><a href="#" class="post-headline">We love colors in 2018</a></h4>
                        <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam
                            vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel
                            volutpat quam tincidunt.</p>
                        <div class="post-meta">
                            <p>By <a href="#">james smith</a></p>
                            <p>3 comments</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area  -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area blog-style-2 mb-100">
                    <div class="single-blog-thumbnail">
                        <img src="{{url_for('static', filename='images/blog-img/5.jpg')}}" alt="">
                        <div class="post-date">
                            <a href="#">10 <span>march</span></a>
                        </div>
                    </div>
                    <!-- Blog Content -->
                    <div class="single-blog-content mt-50">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4><a href="#" class="post-headline">Party people in the house</a></h4>
                        <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam
                            vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel
                            volutpat quam tincidunt.</p>
                        <div class="post-meta">
                            <p>By <a href="#">james smith</a></p>
                            <p>3 comments</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area  -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area blog-style-2 mb-100">
                    <div class="single-blog-thumbnail">
                        <img src="{{url_for('static', filename='images/blog-img/6.jpg')}}" alt="">
                        <div class="post-date">
                            <a href="#">10 <span>march</span></a>
                        </div>
                    </div>
                    <!-- Blog Content -->
                    <div class="single-blog-content mt-50">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4><a href="#" class="post-headline">We love colors in 2018</a></h4>
                        <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam
                            vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel
                            volutpat quam tincidunt.</p>
                        <div class="post-meta">
                            <p>By <a href="#">james smith</a></p>
                            <p>3 comments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


